.hero.is-success{
    background-color: #FEF5F6;
}
.center{
    text-align: center;
    justify-content: center;
}
.title{
    font-size: 50px;
}
.hero.is-success .title {
    color: #615D5D;
}
.hero.is-halfheight {
    min-height:35vh;
}
.table{
    border-collapse:separate;
    width: 100%;
}
.table-box{
    width: 50%;
    margin: auto;
}
.content-box{
    margin: 50px;
}
.table thead td, .table thead th{
    border-width:2px 0 2px;
}
.table tbody tr:last-child td, .table tbody tr:last-child th{
    border-width: 0 0 2px;
}
.date{
    width: 30%;
}

.button.is-light{
    background-color: #615D5D;
    color:#ffffff;
}
.center{
    text-align: center;
    justify-content: center;
}
.title{
    font-size: 40px;
}
.main-box{
    margin: 50px;
}
.register-box{
    width: 40%;
    margin: auto;
}
.register-form{
    border-width: 2px 0 2px 0;
    border-style : solid;
    border-color: rgba(14,19,41,0.95);
    padding: 20px;

}

.subtitle{
    border-width: 0 0 0.5px 0;
    border-style : solid;
    border-color: rgba(14,19,41,0.95);
    padding-bottom: 15px;
}
.content{
    min-height: 24vh;
}

.button.is-success{
    background-color: #615D5D;
}

.hero.is-success .title {
    color: #615D5D;
}

.hero.is-success{
    background-color: #FEF5F6;
}

.button.is-light.del{
    background-color: #615D5D;
    color:#ffffff;
}